In [1]:
import pandas as pd
from owid import catalog
import plotly.express as px
import seaborn as sns
import awoc

In [2]:
site_url = "https://ourworldindata.org/the-worlds-deadliest-earthquakes"

In [7]:
df = pd.read_html(site_url)
df2 = df[0]
df2

,Ranking,Location,Year,Estimated death toll,Earthquake magnitude,Additional information
0,1,"Shaanxi, China",1556,830000,8,More than 97 counties in China were affected. ...
1,2,"Port-au-Prince, Haiti",2010,316000,7,Death toll is still disputed. Here we present ...
2,3,"Antakya, Turkey",115,260000,7.5,Antioch (ancient ruins which lie near the mode...
3,4,"Antakya, Turkey",525,250000,7,Severe damage to the area of the Byzantine Emp...
4,5,"Tangshan, China",1976,242769,7.5,Reported that the earthquake risk had been gre...
5,6,"Gyzndzha, Azerbaijan",1139,230000,Unknown,Often termed the Ganja earthquake. Much less i...
6,7,"Sumatra, Indonesia",2004,227899,9.1,Earthquake in Indian Ocean off the coast of Su...
7,8,"Damghan, Iran",856,200000,7.9,Estimated that extent of the damage area was 2...
8,8,"Gansu, China",1920,200000,8.3,Damage occurred across 7 provinces and regions...
9,9,"Dvin, Armenia",893,150000,Unknown,"City of Dvin was destroyed, with the collapse ..."
10,10,"Tokyo, Japan",1923,142807,7.9,"More than half of brick buildings, and 10% of ..."

In [8]:
df2["Location"] = df2["Location"].str.split(',').str[1]

In [13]:
df_dist = catalog.find("natural_disasters").iloc[3].load()
df_dist = df_dist.reset_index()
df_dist

,country,year,type,total_dead,injured,affected,homeless,total_affected,reconstruction_costs,insured_damages,...,gdp,reconstruction_costs_per_gdp,insured_damages_per_gdp,total_damages_per_gdp,total_dead_per_100k_people,injured_per_100k_people,affected_per_100k_people,homeless_per_100k_people,total_affected_per_100k_people,n_events_per_100k_people
0,Afghanistan,1954,all_disasters,2000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,25.431416,0.000000,0.000000,0.0,0.000000,0.012716
1,Afghanistan,1954,earthquake,2000,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,25.431416,0.000000,0.000000,0.0,0.000000,0.012716
2,Afghanistan,1956,all_disasters,151,2000,0,0,2000,0,0,...,NaN,NaN,NaN,NaN,1.867026,24.728817,0.000000,0.0,24.728817,0.024729
3,Afghanistan,1956,earthquake,100,2000,0,0,2000,0,0,...,NaN,NaN,NaN,NaN,1.236441,24.728817,0.000000,0.0,24.728817,0.012364
4,Afghanistan,1956,flood,51,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0.630585,0.000000,0.000000,0.0,0.000000,0.012364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21700,Zimbabwe,2022,all_disasters,0,0,3000,0,3000,0,0,...,NaN,NaN,NaN,NaN,0.000000,0.000000,18.381746,0.0,18.381746,0.012254
21701,Zimbabwe,2022,extreme_weather,0,0,3000,0,3000,0,0,...,NaN,NaN,NaN,NaN,0.000000,0.000000,18.381746,0.0,18.381746,0.006127
21702,Zimbabwe,2022,flood,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.0,0.000000,0.006127
21703,Zimbabwe,2023,all_disasters,2,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0.012001,0.000000,0.000000,0.0,0.000000,0.006000
21704,Zimbabwe,2023,extreme_weather,2,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,0.012001,0.000000,0.000000,0.0,0.000000,0.006000

In [14]:
df_dist = df_dist[(df_dist['year'] >= 2000) & (df_dist['type'] == "earthquake")]

In [16]:
world_data = awoc.AWOC()
unwanted = ["World", "European Union (27)"] + world_data.get_continents_list() + ['Upper-middle-income countries', 'Lower-middle-income countries', 'High-income countries', 'Low-income countries'
]

df_dist = df_dist[~df_dist["country"].isin(unwanted)]

In [18]:
df_dist.head()

,country,year,type,total_dead,injured,affected,homeless,total_affected,reconstruction_costs,insured_damages,...,gdp,reconstruction_costs_per_gdp,insured_damages_per_gdp,total_damages_per_gdp,total_dead_per_100k_people,injured_per_100k_people,affected_per_100k_people,homeless_per_100k_people,total_affected_per_100k_people,n_events_per_100k_people
67,Afghanistan,2001,earthquake,4,20,0,250,270,0,0,...,NaN,NaN,NaN,NaN,0.020316,0.101581,0.000000,1.269768,1.371350,0.010158
70,Afghanistan,2002,earthquake,1200,1391,89500,10000,100891,0,0,...,3.854235e+09,0.0,0.0,0.000000,5.714215,6.623728,426.185242,47.618462,480.427429,0.014286
74,Afghanistan,2003,earthquake,1,1,0,1000,1001,0,0,...,4.539501e+09,0.0,0.0,0.000000,0.004416,0.004416,0.000000,4.415959,4.420375,0.004416
77,Afghanistan,2004,earthquake,2,40,0,1000,1040,0,0,...,5.220824e+09,0.0,0.0,0.000000,0.008491,0.169826,0.000000,4.245644,4.415470,0.004246
80,Afghanistan,2005,earthquake,6,1,500,0,501,0,0,...,6.226199e+09,0.0,0.0,0.000803,0.024579,0.004096,2.048240,0.000000,2.052337,0.008193

In [22]:
df_dist = df_dist.sort_values(by="total_dead", ascending = False)
df3 = df_dist.head()
df3

,country,year,type,total_dead,injured,affected,homeless,total_affected,reconstruction_costs,insured_damages,...,gdp,reconstruction_costs_per_gdp,insured_damages_per_gdp,total_damages_per_gdp,total_dead_per_100k_people,injured_per_100k_people,affected_per_100k_people,homeless_per_100k_people,total_affected_per_100k_people,n_events_per_100k_people
7518,Haiti,2010,earthquake,222570,300000,3400000,0,3700000,11500000000,200000000,...,1.185931e+10,96.970192,1.686438,67.457527,2261.227783,3047.887451,34542.726562,0.000000,37590.613281,0.010160
9117,Indonesia,2004,earthquake,165816,1253,139580,532898,673731,0,225041000,...,2.568369e+11,0.000000,0.087620,1.759716,73.389854,0.554575,61.777847,235.859665,298.192078,0.002656
4046,China,2008,earthquake,87564,368412,46587000,414385,47369797,10000000000,300000000,...,4.594307e+12,0.217661,0.006530,1.860825,6.582932,27.696669,3502.341797,31.152851,3561.191162,0.000526
14727,Pakistan,2005,earthquake,73338,128309,0,5000000,5128309,5200000000,0,...,1.200553e+11,4.331337,0.000000,4.331337,42.058334,73.583450,0.000000,2867.431152,2941.014648,0.000573
18845,Turkey,2023,earthquake,50103,107608,9100000,90,9207698,100000000000,0,...,NaN,NaN,NaN,NaN,58.384087,125.393585,10604.059570,0.104875,10729.557617,0.003496

In [23]:
df2.rename(columns={"Location": "country", "Year": "year", "Estimated death toll": "deaths"}, inplace=True)
df3.rename(columns={"total_dead": "deaths"}, inplace=True)

P:\SelTopics\test\myenv\Lib\site-packages\owid\catalog\tables.py:426: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_table = super().rename(*args, **kwargs)

In [26]:
column1 = df2.columns.tolist()
column1.remove('year')
column1.remove('deaths')
column1.remove('country')
df2 = df2.drop(columns = column1)

column2 = df3.columns.tolist()
column2.remove('year')
column2.remove('deaths')
column2.remove('country')
df3 = df3.drop(columns = column2)

df2.head()

   country  year  deaths
0    China  1556  830000
1    Haiti  2010  316000
2   Turkey   115  260000
3   Turkey   525  250000
4    China  1976  242769

In [27]:
df3.head()

         country  year  deaths
7518       Haiti  2010  222570
9117   Indonesia  2004  165816
4046       China  2008   87564
14727   Pakistan  2005   73338
18845     Turkey  2023   50103

In [29]:
df2['country'] = df2['country'].str.strip()
df3['country'] = df3['country'].str.strip()

In [30]:
df2

       country  year  deaths
0        China  1556  830000
1        Haiti  2010  316000
2       Turkey   115  260000
3       Turkey   525  250000
4        China  1976  242769
5   Azerbaijan  1139  230000
6    Indonesia  2004  227899
7         Iran   856  200000
8        China  1920  200000
9      Armenia   893  150000
10       Japan  1923  142807

In [31]:
df3

         country  year  deaths
7518       Haiti  2010  222570
9117   Indonesia  2004  165816
4046       China  2008   87564
14727   Pakistan  2005   73338
18845     Turkey  2023   50103

In [32]:
df_last = pd.concat([df2, df3])
df_last = df_last.drop_duplicates(subset=["country", "year"])

df_last

          country    year  deaths
0           China  1556.0  830000
1           Haiti  2010.0  316000
2          Turkey   115.0  260000
3          Turkey   525.0  250000
4           China  1976.0  242769
5      Azerbaijan  1139.0  230000
6       Indonesia  2004.0  227899
7            Iran   856.0  200000
8           China  1920.0  200000
9         Armenia   893.0  150000
10          Japan  1923.0  142807
4046        China  2008.0   87564
14727    Pakistan  2005.0   73338
18845      Turkey  2023.0   50103

In [34]:
df_last["Database"] = ['10 Deadliest Quakes in History', 'Deadly Since 2000', '10 Deadliest Quakes in History', '10 Deadliest Quakes in History', '10 Deadliest Quakes in History', '10 Deadliest Quakes in History', 'Deadly Since 2000', '10 Deadliest Quakes in History', '10 Deadliest Quakes in History', '10 Deadliest Quakes in History', '10 Deadliest Quakes in History', 'Deadly Since 2000', 'Deadly Since 2000', 'Deadly Since 2000']
df_last = df_last.sort_values(by="deaths", ascending = False)
df_last['year'] = df_last['year'].astype(int)
df_last

          country  year  deaths                        Database
0           China  1556  830000  10 Deadliest Quakes in History
1           Haiti  2010  316000               Deadly Since 2000
2          Turkey   115  260000  10 Deadliest Quakes in History
3          Turkey   525  250000  10 Deadliest Quakes in History
4           China  1976  242769  10 Deadliest Quakes in History
5      Azerbaijan  1139  230000  10 Deadliest Quakes in History
6       Indonesia  2004  227899               Deadly Since 2000
7            Iran   856  200000  10 Deadliest Quakes in History
8           China  1920  200000  10 Deadliest Quakes in History
9         Armenia   893  150000  10 Deadliest Quakes in History
10          Japan  1923  142807  10 Deadliest Quakes in History
4046        China  2008   87564               Deadly Since 2000
14727    Pakistan  2005   73338               Deadly Since 2000
18845      Turkey  2023   50103               Deadly Since 2000

In [36]:
fig = px.bar(
    df_last,
    x="deaths",
    y=df_last['country'] + ' ' + df_last['year'].astype(str),
    labels={"country": "Country", "deaths": "Deaths"},
    title="Killer Quakes",
    color="Database",
    color_discrete_map={'10 Deadliest Quakes in History': 'blue', 'Deadly Since 2000': 'red'},
    category_orders={"Database": ["10 Deadliest Quakes in History", "Deadly Since 2000"]}
)


fig.update_xaxes(title_text="Total Deaths")
fig.update_yaxes(title_text="Country and Year")


fig.update_layout(
    legend_title_text='',
    legend=dict(title=''),
    showlegend=True
)

fig.show()